MAILER_SENDER: no-reply@lintercat.com
MAILER_HOST: localhost:3000

SMTP_ADDRESS: smtp.xxxxxxxxxx.com
SMTP_USERNAME: XXXXXXXXXXXXX
SMTP_DOMAIN: xxxxxxxxx.com
SMTP_PASSWORD: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

AWS_S3_BUCKET: xxxx-xxxxxxxxxxxxx
AWS_S3_BUCKET_FOLDER: xxxxx-xxxxxxxxxxxx
AWS_ACCESS_KEY_ID: XXXXXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_REGION: us-east-1
